node_modules

.htaccess
.env
.DS_Store
.idea
.settings/
.project
.buildpath
cli/tmp
nbproject
*.txt
*.log
*.zip
*.rar
*.csv
*.ini
config.codekit
local.ini
cli.ini

composer.lock
vendor

.idea/inspectionProfiles/
